<% content_for(:navbar_class, "navbar-home") %>
<div class="banner">
  <div class="banner-content text-center">
    <h1>Lorem ipsum dolor sit amet</h1>
    <p>Lorem ipsum dolor sit amet</p>
    <%= link_to "Start Now", new_user_registration_path, class: "btn btn-primary" %>
  </div>
</div>
